* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle,  rgb(121, 30, 163) 0%, rgba(66, 107, 240, 0.9) 100%);  
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.header {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    line-height: 50px;
}
.add {
    display: flex;
    gap: 10px;
    visibility: hidden;
    position: relative;
}
.add .data,
.add .btn{
    display: flex;
    flex-direction: column;
}
.btn input:hover {
    opacity: .9;
    cursor: pointer;
}
.add input:focus {
    outline: none;
}
.add input {
    padding: 10px 20px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: none;
}
.icon {
    width: 50px;
    height: 50px;
    background-color: #2d2efde0;
    border-radius: 50%;
    position: relative;
    transition: .4s;
    cursor: pointer;
    border: none;
}
.icon::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
}
.icon::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 45%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
}
.close {
    background-color: red;
    outline: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
}
.product-container {
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
}
.card {
    display: flex;
    gap: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    width: 45%;
    position: relative;
}
.card .image{
    width: 50%;
    overflow: hidden;
}
.card img {
    max-width: 100%;
    object-fit: fill;
    border-radius: 5px;
}
.card p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.info  {
    margin-top: 20%;
    width: fit-content;
}
.delete {
    background-color: red !important;
    position: absolute;
    right: 10px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
}
.soldbtn {
    background-color: #2d2efde0;
    position: absolute;
    right: 100px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
}
